@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box !important;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}
h3 {
  font-weight: 500;
  font-size: 32px;
}
h4 {
  font-weight: 500;
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
body,
button {
  font-size: 20px;
}
caption {
  font-weight: 300;
  font-size: 16px;
}

.glass {
  background: linear-gradient(151.16deg, rgba(225, 225, 225, 0.264) 1.11%, rgba(255, 255, 255, 0.8) 98.42%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid #fff;
}
